body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/*
* CSS rules for star rating system
*/
ol,
ul {
  padding-left: 30px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/*
* My custom CSS Rules
*/
:root {
  --primary-background: #1fab89;
  --secondary-background: #62d2a2;
  --primary-highlight: #9df3c4;
  --secondary-highlight: #d7fbe8;
  --button-hover: rgb(37, 80, 61);
  --star-on: #ffea73;
  --star-off: #fff;
}

.background {
  background: var(--primary-background);
}
.on {
  color: var(--star-on);
}
.off {
  color: var(--star-off);
}

.navbar-rounded {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 2%;
  background-color: var(--primary-background) !important;
  box-shadow: 5px 5px 10px gray;
}

.table-rounded {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 15px;
  border-spacing: 5px;
  border-collapse: separate;
  border-radius: 15px;
  border: 0.5px solid var(--primary-background);
  color: #fff !important;
  box-shadow: 5px 5px 10px gray;
}

.movie {
  padding: 10%;
}

.white-text {
  color: #fff;
}

.header-brand {
  font-size: 32px;
}

.zip-input {
  margin-top: 5%;
  font-size: 10px;
}

.search-button,
.sign-out-button,
.sign-in-button {
  margin-top: 5%;
  background-color: var(--secondary-background);
  border-color: var(--primary-background);
  font-size: 12px;
}

.search-button:hover,
.sign-out-button:hover,
.sign-in-button:hover {
  background-color: var(--button-hover);
  border-color: var(--button-hover);
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--primary-background);
  color: rgb(48, 48, 48);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-button {
  margin-left: 0.5%;
  margin-right: 0.5%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--secondary-background);
  border-color: var(--primary-background);
}

.footer-button:hover {
  background-color: var(--button-hover);
  border-color: var(--button-hover);
}
