body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/*
* CSS rules for star rating system
*/
ol,
ul {
  padding-left: 30px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/*
* My custom CSS Rules
*/
:root {
  --primary-background: #1fab89;
  --secondary-background: #62d2a2;
  --primary-highlight: #9df3c4;
  --secondary-highlight: #d7fbe8;
}

.background {
  background: var(--primary-background);
}
.on {
  color: var(--primary-highlight);
}
.off {
  color: var(--secondary-highlight);
}

.navbar-rounded {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 2%;
  background-color: var(--primary-background) !important;
  box-shadow: 5px 5px 10px gray;
}

.table-rounded {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 15px;
  border: 1px solid var(--primary-background);
  color: #fff !important;
  box-shadow: 5px 5px 10px gray;
}

.white-text {
  color: #fff;
}

.search-button,
.sign-out-button,
.sign-in-button {
  background-color: var(--secondary-background);
  border-color: var(--primary-background);
}
